.main {
  padding: 3%;
}

.forms textarea,
.forms select,
.forms input {
  color: black;
}

.notification {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.note-red {
  background-color: red;
}
.note-green {
  background-color: green;
}

.forms select {
  background-color: white;
}

.location {
  width: 100%;
  padding: 10px;
  background-color: #d49839;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gig {
  width: 100%;
  padding: 10px;
  background-color: #df6700;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gig-marker {
  /*background-color: #92d8e2;*/
  background: radial-gradient(circle at center, #ffffff 35%,#ffffff 35%,#92d8e2 93%);
  color: black;
  width: 24px;
  height: 24px;
  font-size: 24px;
  border-radius: 10px;

  /*box-shadow: 0px 0px 0px 2px rgba(0,0,0,0), 0px 0px 0px 2px #92d8e2;*/
}

.drawer {
  width: 100%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
  position: absolute;
  bottom: 0;
}
