.main {
  padding: 3%;
}

.forms select,
.forms input {
  color: black;
}

.location {
  width: 100%;
  padding: 10px;
  background-color: #d49839;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gig {
  width: 100%;
  padding: 10px;
  background-color: #df6700;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
