.main {
  padding: 3%;
}

.forms select,
.forms input {
  color: black;
}

.location {
  width: 100%;
  padding: 10px;
  background-color: #d49839;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gig {
  width: 100%;
  padding: 10px;
  background-color: #df6700;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gig-marker {
  /*background-color: #92d8e2;*/
  background: radial-gradient(circle at center, #ffffff 35%,#ffffff 35%,#92d8e2 93%);
  color: black;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 10px;
}
