

.forms textarea,
.forms select,
.forms input {
  color: black;
}

.notification {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.note-red {
  background-color: red;
}
.note-green {
  background-color: green;
}

.forms select {
  background-color: white;
}

.location {
  width: 100%;
  padding: 10px;
  background-color: #d49839;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gig {
  width: 100%;
  padding: 10px;
  background-color: #df6700;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-btn {
  width: 100%;
}

.plus-icon {
  margin-right: 10px;
}

.gigs-header {
  width: 100%;
  padding: 15px;
}

.chevron-icon {
  float: right;
}
