body {
  color: aliceblue;
  background-color: black;
}

h1 {
  color: aliceblue;
}

.menu {
  width: 100%;
  text-align: center;
}

.menu li {
  list-style-type: none;
  display: inline;
}

.menu li a {
  padding: 10px;
  width: 20%;
}

.menu li a:hover {
  background-color: aliceblue;
  color: #333;
}
