body {
  color: aliceblue;
  background-color: black;
}

h1 {
  color: aliceblue;
}

h3 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}

.logo-container {
  width: 100%;
  text-align: center;
}

.gig-header-logo {
  height: 80px;
}

.menu {
  width: 100%;
  text-align: center;

  padding-left: 0;
  margin-bottom: 0;
}

.menu li {
  list-style-type: none;
  display: inline-block;
  width: 33%;
  padding: 10px;
}

.menu li:hover {
  color: #333;
  background-color: #92d8e2;
}

.menu li a {
  padding: 10px;
  width: 100%;
  /*color: aliceblue;*/
  color: inherit;
}

.menu li:hover a,
.menu li a:hover {
  /*background-color: aliceblue;*/
  color: #333;
}

.menu.active-page a,
.active-page {
  /*border: solid 2px #92d8e2;*/
  background-color: #92d8e2;
  color: #333;
}


.map-container {
  width: 100%;
  position: relative;
}

#map {
  width: 100%;
  height: 530px;
  position: absolute;
  top: 0;
  bottom: 0;
}
