
.gig-marker {
  background: radial-gradient(circle at center, #ffffff 35%,#ffffff 35%,#92d8e2 93%);
  color: black;
  width: 24px;
  height: 24px;
  font-size: 24px;
  border-radius: 10px;
}

.drawer {
  width: 100%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
  position: absolute;
  bottom: 0;
}

.drawer-banner {
  font-weight: bold;
  padding: 2px;
}

.hide-drawer-btn {
  float: right;
}

.location-image {
  width: 70px;
  /*height: 70px;*/
}
