<div class="main col-md-12">
  <!-- <h3><i class="glyphicon glyphicon-home"></i>home</h3> -->
  <div>
    <gig-menu active="'home'"></gig-menu>
  </div>
  <div ng-show="show_notification" ng-class="{'note-red': notification.status == 'error', 'note-green': notification.status == 'success'}" class="notification">
    {{notification.text}}
  </div>
  <div class="actions">
    <div class="add-new-location">
      <button class="btn btn-default btn-lg" ng-click="add_location()">Add New Location</button>
    </div>
    <div class="add-new-gig">
      <button class="btn btn-info btn-lg" ng-click="add_gig()">Add New Gig</button>
    </div>
  </div>
  <div class="forms">
    <div ng-show="show_new_location">
      <div class="form-group">
        <label for="location_name">Name</label>
        <input type="text" ng-model="new_location.name" class="form-control" id="location_name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="location_street">Street</label>
        <input type="text" ng-model="new_location.street" class="form-control" id="location_street" placeholder="Street">
      </div>
      <div class="form-group">
        <label for="location_city">City</label>
        <input type="text" ng-model="new_location.city" class="form-control" id="location_city" placeholder="City">
      </div>
      <div class="form-group">
        <label for="location_state">State</label>
        <input type="text" ng-model="new_location.state" class="form-control" id="location_state" placeholder="State">
      </div>
      <div class="form-group">
        <label for="location_zip">Zip Code</label>
        <input type="number" ng-model="new_location.zip" class="form-control" id="location_zip" placeholder="Zip Code">
      </div>
      <div class="form-group">
        <label for="location_image">Image URL</label>
        <input type="text" ng-model="new_location.image" class="form-control" id="location_image" placeholder="Image">
      </div>

      <button class="btn btn-success" ng-click="save_location()">Save</button>
      <button class="btn btn-danger" ng-click="cancel_location()">Cancel</button>
    </div>
    <div ng-show="show_new_gig">
      <div class="form-group">
        <label for="gig_name">Name</label>
        <input type="text" ng-model="new_gig.name" class="form-control" id="gig_name" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Location</label>
        <select ng-model="new_gig.location_id">
          <option ng-repeat="l in locations" ng-value="l.id">
            {{l.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="new_gig.description"></textarea>
      </div>
      <div class="form-group">
        <label>Start Date</label>
        <input type="date" ng-model="new_gig.start_date" />
      </div>
      <div class="form-group">
        <label>End Date</label>
        <input type="date" ng-model="new_gig.end_date" />
      </div>

      <button class="btn btn-success" ng-click="save_gig()">Save</button>
      <button class="btn btn-danger" ng-click="cancel_gig()">Cancel</button>
    </div>


  </div>
  <div class="gigs">
    <div class="gig" ng-repeat="g in gigs">
      <div class="">
        {{g.name}}
      </div>
      <div class="">
        <button class="btn" ng-click="edit_gig(g)">Edit</button>
      </div>
    </div>
  </div>
  <div class="locations">
    <div class="location" ng-repeat="l in locations">
      <div class="">
        {{l.name}}
      </div>
      <div class="">
        <button class="btn" ng-click="edit_location(l)">Edit</button>
      </div>
    </div>
  </div>
</div>
