<!-- <h3><i class="glyphicon glyphicon-map-marker"></i>map</h3> -->
<div class="main">
  <gig-menu active="'map'"></gig-menu>
  <div class="map-container">
    <div id="map"></div>
  </div>
  <div class="drawer" ng-show="show_drawer">
    <div class="drawer-banner">
      <span class="drawer-title">{{active_venue.name}}</span>

      <button ng-click="hide_drawer()" class="hide-drawer-btn"><i class="glyphicon glyphicon-chevron-down"></i></button>
    </div>
    <div class="drawer-gigs">
      <span ng-repeat="gig in active_venue.gigs">{{$index+1}} {{gig.name}}</span>
    </div>
  </div>
</div>
